
.card {
  background-color:white;
  width: 200px;
  height: 220px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  text-color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card h4 {
  color: black;   /* product name */
}

.card p {
  color: black;   /* price */
}

/* Button container spacing */
.card div {
  display: flex;
  justify-content: center;
  gap: 10px; /* SPACE BETWEEN BUTTONS */
}

/* Common button style */
.card button {
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.card button {
  width: 80px;
}
/* Add button */
.add-btn {
  background-color: #3498db;
  color: white;
}

.add-btn:hover {
  background-color: #2980b9; /* darker on hover */
}

/* Buy button */
.buy-btn {
  background-color: #2ecc71;
  color: white;
}

.buy-btn:hover {
  background-color: #27ae60; /* darker on hover */
}